body {
    padding: 0;
    margin: 0;
}

.profilebar {
    background-color: blue;
    padding-left: 3px;
    padding-right: 3px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.search>input {
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    width: 502px;

}

.both {
    display: flex;
    gap: 20px;
    color: white;
}
.menuContainer{
    display: flex;
    padding: 10px;
    color: gray;
    justify-content: space-between;
    font-size: 1.5em;
}
.space{
    height: 15px;
    background-color: #ccc;
}
.downspace{
    margin-left: 10px;
    height: 3px;
    background-color: #ccc;
}
.p-top{
    /* background-image: url('../images/trump.jpg');
    background-repeat: no-repeat;
    height: 50vh; */
}
.p-top-top{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 27px;
}
.down-space{
    /* width: 90%; */
    height: 3rem;
    background-color: #e71111;
}
.news{
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    text-align: center;
}
.text>h1{
    font-weight: 600;
    font-size: 24px;
}
.political{
    width: calc(30%);
}
.more{
    font-weight: 600;
    font-size: 18px;
}

@media screen and (max-width: 375px) {
    
    .search>input {
        width: 250px;
    }
    .menuContainer{
        font-size: 1em;
    }
    .downspace{
        margin-left: 10px;
        height: 3px;
    }
 
    .p-top-top{
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 1px;
        font-size: 17px;
    }
    .down-space{
        /* width: 90%; */
        height: 3rem;
        background-color: #e71111;
    }
    .news{
        display: block;
    }
    .text>h1{
        font-weight: 600;
        font-size: 16px;
    }
    .political{
        width: calc(99%);
    }